<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Listar Contas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container mt-5">
        <h1>Lista de contas</h1>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Número da conta</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#contas}}
                        <tr>
                            <td>{{id}}</td>
                            <td><a href="" data-bs-toggle="modal" data-bs-target="#modalConta{{id}}">{{numero}}</a></td>

                            <!-- Modal Saldo -->
                            <div class="modal" id="modalConta{{id}}">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Dados da Conta: {{numero}}</h5>
                                    </div>
                                    <div class="modal-body">
                                        <h2>Saldo: {{saldo}}</h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Consultar Histórico de Transferência</button>
                                        <button type="button" class="btn btn-primary">Realizar Tranferência</button>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <td>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal-{{id}}">
                                    Excluir
                                </button>
                                <div class="modal" id="myModal-{{id}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{numero}}</h4>
                                                <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                Confirma a exclusão do cadastro?
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                    <form action="/contas/excluir" method="post">
                                                        <input type="hidden" value="{{id}}" id="id" name="id">
                                                        <button type="submit" class="btn btn-danger">Confirmar</button>
                                                    </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/contas}}
                    </tbody>
                    <div class="col-12">
                        <a href="./cadastrar"><button class="btn btn-primary w-100 mt-3">Criar conta</button></a>
                    </div>
                </table>
            </div>
        </div>

    </div>

</body>
</html>